body {
    background-color: black;
}

/* Moon */
body > div > div:nth-child(1) {
    position: fixed;
    top: 50px;
    left: 10%;
    height: 50px;
    width: 50px;
    box-shadow: -7.5px 7.5px 0 2.5px grey;
    border-radius: 50%;
}

/* Heads */
div div:nth-child(2) div:nth-child(1) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    position: fixed;
    left: calc(50% - 0.5em + 25px);
    bottom: 100px;
}

div:nth-child(2) div:nth-child(2) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    position: fixed;
    left: calc(50% - 0.5em - 25px);
    bottom: 100px;
}

/* Hair */
div:nth-child(2) div:nth-child(3) {
    width: 50px;
    height: 30px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em + 25px);
    bottom: 95px;
}

/* Upper bodies */
div div:nth-child(2) div:nth-child(4) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em + 25px);
    bottom: 50px;
}

div:nth-child(2) div:nth-child(5) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 25px);
    bottom: 50px;
}

/* Lower bodies */
div div:nth-child(2) div:nth-child(6) {
    width: 50px;
    height: 75px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em + 25px);
    bottom: 0;
}

div:nth-child(2) div:nth-child(7) {
    width: 50px;
    height: 75px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 25px);
    bottom: 0;
}

/* Hands on waists */
div:nth-child(2) div:nth-child(8) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 35px);
    bottom: 25px;
}

div:nth-child(2) div:nth-child(9) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em + 60px);
    bottom: 25px;
}