body {
    background: black;
}

/* Moon */
body > section > section:nth-child(1) {
    position: fixed;
    top: 50px;
    left: 10%;
    height: 50px;
    width: 50px;
    box-shadow: -7.5px 7.5px 0 2.5px yellow;
    border-radius: 50%;
    z-index: -1;
}

/* Heads */
section section:nth-child(2) section:nth-child(1) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em);
    bottom: 90px;
}

section:nth-child(2) section:nth-child(2) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 50px);
    bottom: 100px;
}

/* Hair */
section:nth-child(2) section:nth-child(3) {
    width: 50px;
    height: 30px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em);
    bottom: 85px;
}

/* Upper bodies */
section section:nth-child(2) section:nth-child(4) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em);
    bottom: 40px;
}

section:nth-child(2) section:nth-child(5) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 50px);
    bottom: 50px;
}

/* Lower bodies */
section section:nth-child(2) section:nth-child(6) {
    width: 50px;
    height: 65px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em);
    bottom: 0;
}

section:nth-child(2) section:nth-child(7) {
    width: 50px;
    height: 75px;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 50px);
    bottom: 0;
}

/* Hands on waists */
section:nth-child(2) section:nth-child(8) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em - 60px);
    bottom: 15px;
}

section:nth-child(2) section:nth-child(9) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    position: fixed;
    left: calc(50% - 0.5em + 35px);
    bottom: 25px;
}

/* Arms on waist */
section:nth-child(2) section:nth-child(10) {
    width: 30px;
    height: 1px;
    background: black;
    position: fixed;
    left: calc(50% - 0.5em - 50px);
    bottom: 15px;
}

section:nth-child(2) section:nth-child(11) {
    width: 30px;
    height: 1px;
    background: black;
    position: fixed;
    left: calc(50% - 0.5em + 20px);
    bottom: 25px;
}

section:nth-child(3) section:nth-child(1) {
    height: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: burlywood;
    z-index: -1;
}

section:nth-child(3) section:nth-child(2) {
    height: 25px;
    width: 100%;
    position: fixed;
    bottom: 25px;
    left: 0;
    background: blue;
    z-index: -1;
}

/* https://www.shapedivider.app */
section:nth-child(3) section:nth-child(3) {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
    z-index: -1;
}

section:nth-child(3) section:nth-child(3) svg {
    width: calc(100% + 1.3px);
    height: 25px;
}

section:nth-child(3) section:nth-child(3) path {
    fill: blue;
}

@media (prefers-color-scheme: light) {
    body, section:nth-child(2) section:nth-child(10), section:nth-child(2) section:nth-child(11) {
        background: white;
    }

    body > section > section:nth-child(1) {
        background: yellow;
        box-shadow: none;
    }

    section section:nth-child(2) section:nth-child(1), section section:nth-child(2) section:nth-child(2), section section:nth-child(2) section:nth-child(3), section section:nth-child(2) section:nth-child(4), section section:nth-child(2) section:nth-child(5), section section:nth-child(2) section:nth-child(6), section section:nth-child(2) section:nth-child(7), section section:nth-child(2) section:nth-child(8), section section:nth-child(2) section:nth-child(9) {
        background: black;
    }
}