span span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    position: fixed;
    left: calc(50% - 0.5em);
    top: 30%;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

input:checked ~ span span:before {
    content: "\2665";
    color: transparent;
    animation: red-explosion 2.5s 1s infinite;
}

@keyframes big-explosion-1 {
    0% { background: #f6d661; }
    20% { background: #f6d661; transform: translate(100px, -100px); }
    21%, 100% { background: transparent; transform: translate(100px, -100px); }
}

@keyframes big-explosion-2 {
    0% { background: #93053b; }
    20% { background: #93053b; transform: translate(100px, 100px); }
    21%, 100% { background: transparent; transform: translate(100px, 100px); }
}

@keyframes big-explosion-3 {
    0% { background: #5c82a1; }
    20% { background: #5c82a1; transform: translate(-100px, 100px); }
    21%, 100% { background: transparent; transform: translate(-100px, 100px); }
}

@keyframes big-explosion-4 {
    0% { background: #5fb94e; }
    20% { background: #5fb94e; transform: translate(-100px, -100px); }
    21%, 100% { background: transparent; transform: translate(-100px, -100px); }
}

@keyframes big-red-explosion-1 {
    20% { transform: translate(100px, -100px); }
    21%, 100% { transform: translate(100px, -100px); }
}

@keyframes big-red-explosion-2 {
    20% { transform: translate(100px, 100px); }
    21%, 100% { transform: translate(100px, 100px); }
}

@keyframes big-red-explosion-3 {
    20% { transform: translate(-100px, 100px); }
    21%, 100% { transform: translate(-100px, 100px); }
}

@keyframes big-red-explosion-4 {
    20% { transform: translate(-100px, -100px); }
    21%, 100% { transform: translate(-100px, -100px); }
}

@keyframes red-explosion {
    20% { color: red; }
    21%, 100% { color: transparent; }
}

span span span {
    position: absolute;
    animation-delay: 1.5s;
}

input:checked ~ span span span:before {
    content: "\2665";
    color: transparent;
    animation: red-explosion 2.5s 1.5s infinite;
}

@keyframes smaller-explosion-1 {
    0% { background: #ec2d67; }
    20% { background: #ec2d67; transform: translate(50px, -50px); }
    21%, 100% { background: transparent; transform: translate(50px, -50px); }
}

@keyframes smaller-explosion-2 {
    0% { background: #29dd0e; }
    20% { background: #29dd0e; transform: translate(50px, 50px); }
    21%, 100% { background: transparent; transform: translate(50px, 50px); }
}

@keyframes smaller-explosion-3 {
    0% { background: #27cfe4; }
    20% { background: #27cfe4; transform: translate(-50px, 50px); }
    21%, 100% { background: transparent; transform: translate(-50px, 50px); }
}

@keyframes smaller-explosion-4 {
    0% { background: #2483bd; }
    20% { background: #2483bd; transform: translate(-50px, -50px); }
    21%, 100% { background: transparent; transform: translate(-50px, -50px); }
}

@keyframes smaller-red-explosion-1 {
    20% { transform: translate(50px, -50px); }
    21%, 100% { transform: translate(50px, -50px); }
}

@keyframes smaller-red-explosion-2 {
    20% { transform: translate(50px, 50px); }
    21%, 100% { transform: translate(50px, 50px); }
}

@keyframes smaller-red-explosion-3 {
    20% { transform: translate(-50px, 50px); }
    21%, 100% { transform: translate(-50px, 50px); }
}

@keyframes smaller-red-explosion-4 {
    20% { transform: translate(-50px, -50px); }
    21%, 100% { transform: translate(-50px, -50px); }
}

span span span span {
    animation-delay: 2s;
}

input:checked ~ span span span span:before {
    content: "\2665";
    color: transparent;
    animation: red-explosion 2.5s 2s infinite;
}

@keyframes smallest-explosion-1 {
    0% { background: #212ac1; }
    20% { background: #212ac1; transform: translate(25px, -25px); }
    21%, 100% { background: transparent; transform: translate(25px, -25px); }
}

@keyframes smallest-explosion-2 {
    0% { background: #ec8cfb; }
    20% { background: #ec8cfb; transform: translate(25px, 25px); }
    21%, 100% { background: transparent; transform: translate(25px, 25px); }
}

@keyframes smallest-explosion-3 {
    0% { background: #fbbc4a; }
    20% { background: #fbbc4a; transform: translate(-25px, 25px); }
    21%, 100% { background: transparent; transform: translate(-25px, 25px); }
}

@keyframes smallest-explosion-4 {
    0% { background: #d43d05; }
    20% { background: #d43d05; transform: translate(-25px, -25px); }
    21%, 100% { background: transparent; transform: translate(-25px, -25px);  }
}

@keyframes smallest-red-explosion-1 {
    20% { transform: translate(25px, -25px); }
    21%, 100% { transform: translate(25px, -25px); }
}

@keyframes smallest-red-explosion-2 {
    20% { transform: translate(25px, 25px); }
    21%, 100% { transform: translate(25px, 25px); }
}

@keyframes smallest-red-explosion-3 {
    20% { transform: translate(-25px, 25px); }
    21%, 100% { transform: translate(-25px, 25px); }
}

@keyframes smallest-red-explosion-4 {
    20% { transform: translate(-25px, -25px); }
    21%, 100% { transform: translate(-25px, -25px); }
}

@media(prefers-reduced-motion:no-preference) {
    span span:nth-child(1) { animation-name: big-explosion-1; }
    span span:nth-child(2) { animation-name: big-explosion-2; }
    span span:nth-child(3) { animation-name: big-explosion-3; }
    span span:nth-child(4) { animation-name: big-explosion-4; }

    input:checked ~ span span:nth-child(1) { animation-name: big-red-explosion-1; }
    input:checked ~ span span:nth-child(2) { animation-name: big-red-explosion-2; }
    input:checked ~ span span:nth-child(3) { animation-name: big-red-explosion-3; }
    input:checked ~ span span:nth-child(4) { animation-name: big-red-explosion-4; }

    span span span:nth-child(1) { animation-name: smaller-explosion-1; }
    span span span:nth-child(2) { animation-name: smaller-explosion-2; }
    span span span:nth-child(3) { animation-name: smaller-explosion-3; }
    span span span:nth-child(4) { animation-name: smaller-explosion-4; }

    input:checked ~ span span span:nth-child(1) { animation-name: smaller-red-explosion-1; }
    input:checked ~ span span span:nth-child(2) { animation-name: smaller-red-explosion-2; }
    input:checked ~ span span span:nth-child(3) { animation-name: smaller-red-explosion-3; }
    input:checked ~ span span span:nth-child(4) { animation-name: smaller-red-explosion-4; }

    span span span span:nth-child(1) { animation-name: smallest-explosion-1; }
    span span span span:nth-child(2) { animation-name: smallest-explosion-2; }
    span span span span:nth-child(3) { animation-name: smallest-explosion-3; }
    span span span span:nth-child(4) { animation-name: smallest-explosion-4; }

    input:checked ~ span span span span:nth-child(1) { animation-name: smallest-red-explosion-1; }
    input:checked ~ span span span span:nth-child(2) { animation-name: smallest-red-explosion-2; }
    input:checked ~ span span span span:nth-child(3) { animation-name: smallest-red-explosion-3; }
    input:checked ~ span span span span:nth-child(4) { animation-name: smallest-red-explosion-4; }
}

@media(prefers-reduced-motion) {
    span span:nth-child(1) { transform: translate(100px, -100px); }
    span span:nth-child(2) { transform: translate(100px, 100px); }
    span span:nth-child(3) { transform: translate(-100px, 100px); }
    span span:nth-child(4) { transform: translate(-100px, -100px); }

    input:checked ~ span span:nth-child(1) { transform: translate(100px, -100px); }
    input:checked ~ span span:nth-child(2) { transform: translate(100px, 100px); }
    input:checked ~ span span:nth-child(3) { transform: translate(-100px, 100px); }
    input:checked ~ span span:nth-child(4) { transform: translate(-100px, -100px); }

    span span span:nth-child(1) { transform: translate(50px, -50px); }
    span span span:nth-child(2) { transform: translate(50px, 50px); }
    span span span:nth-child(3) { transform: translate(-50px, 50px); }
    span span span:nth-child(4) { transform: translate(-50px, -50px); }

    input:checked ~ span span span:nth-child(1) { transform: translate(50px, -50px); }
    input:checked ~ span span span:nth-child(2) { transform: translate(50px, 50px); }
    input:checked ~ span span span:nth-child(3) { transform: translate(-50px, 50px); }
    input:checked ~ span span span:nth-child(4) { transform: translate(-50px, -50px); }

    span span span span:nth-child(1) { background: #212ac1; transform: translate(25px, -25px); }
    span span span span:nth-child(2) { background: #ec8cfb; transform: translate(25px, 25px); }
    span span span span:nth-child(3) { background: #fbbc4a; transform: translate(-25px, 25px); }
    span span span span:nth-child(4) { background: #d43d05; transform: translate(-25px, -25px); }

    input:checked ~ span span span span:nth-child(1) { background: red; transform: translate(25px, -25px); }
    input:checked ~ span span span span:nth-child(2) { background: red; transform: translate(25px, 25px); }
    input:checked ~ span span span span:nth-child(3) { background: red; transform: translate(-25px, 25px); }
    input:checked ~ span span span span:nth-child(4) { background: red; transform: translate(-25px, -25px); }
}