body > span {
    background: transparent;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    left: calc(50% - 0.5em);
    top: 100%;
    /* https://matthewlein.com/tools/ceaser */
    z-index: -1;
    animation: dark-rocket 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

input:checked ~ span {
    animation-name: red-rocket;
}

@keyframes dark-rocket {
    40% { background: white; top: 30%; }
    41%, 100% { background: transparent; top: 30%; }
}

@keyframes light-rocket {
    40% { background: black; top: 30%; }
    41%, 100%  { background: transparent; top: 30%; }
}

@keyframes red-rocket {
    40% { background: red; top: 30%; }
    41%, 100% { background: transparent; top: 30%; }
}

@media (prefers-color-scheme: light) {
    body > span {
        animation-name: light-rocket;
    }
}

@media (prefers-reduced-motion) {
    body > span {
        animation: none;
    }
}