body > span {
    background: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    left: calc(50% - 0.5em);
    top: 100%;
    /* https://matthewlein.com/tools/ceaser */
    z-index: -1;
    animation: rocket-dark 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

input:checked ~ span {
    animation-name: red-rocket-dark;
}

@keyframes rocket-dark {
    40% { background: white; top: 30%; }
    41%, 100% { background: black; }
}

@keyframes red-rocket-dark {
    40% { background: red; top: 30%; }
    41%, 100% { background: black;}
}

@keyframes rocket-light {
    40% { background: black; top: 30%; }
    41%, 100%  { background: white; }
}

@keyframes red-rocket-light {
    40% { background: red; top: 30%; }
    41%, 100%  { background: white; }
}

@media (prefers-color-scheme: light) {
    body > span {
        background: white;
        animation-name: rocket-light;
    }

    input:checked ~ span {
        animation-name: red-rocket-light;
    }
}

@media (prefers-reduced-motion) {
    body > span {
        animation: none;
    }
}