span section {
  position: fixed;
  left: calc(50% - 0.5em);
  top: 30%;
  animation: rotate 1.5s ease-out 1s;
}

input:checked ~ span section {
  animation-name: rotate-checked;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

@keyframes rotate-checked {
  to { transform: rotate(360deg); }
}

@media(prefers-reduced-motion) {
  span section { 
    animation: none;
  }
}